* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board {
    width: 426px;
    height: 426px;
    padding: 5px;
    background-color: grey;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    border-radius: 10px;
}

.square {
    margin: 2px;
    color: #111;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
}