* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border-radius: 15px;
    width: 500px;
    height: 650px;
    background-color: #FFF;
    box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.upper {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 30px solid red;
    border-radius: 50%;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
    animation: colors 3s ease-in infinite;
}

.lower {
    position: absolute;
    width: 250px;
    height: 250px;
    border: 30px solid red;
    border-radius: 50%;
    top: 250px;
    left: 0;
    right: 0;
    margin: auto;
    animation: colors 3s ease-in infinite;
}

.text {
    position: absolute;
    bottom: 50px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: purple;
}


@keyframes colors{
    0%{
        border-color: yellow;
    }
    33%{
        border-color: aqua;
    }
    66%{
        border-color: pink;
    }
    100%{
        border-color: orange;
    }
}